@charset "UTF-8";

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1440px;
    

}
#ml{
    padding-top: 20px;
    position: relative;
    left: 570px;
    height: 610px;
}
#logo-filme{
    position: relative;
    left: 90px;
    
}
.main-info p,button,a,#logo-filme{
    position: relative;
    top: -260px;
}
.main-info p{
    text-align: justify;
    font-size: 18px;
    color: white;
    position: relative;
    width: 650px;
    line-height: 1.6em;
    padding: 30px 30px 15px 30px;
    left: 80px;
}
.bnt{

    
    margin-top: 20px;
    transform: skew(-10deg);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center ;
    
}
.bnt a{
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 60px;
    position: relative;
    left: -50px;
    background-color: #C51212;
    border: 2px solid #C51212;
    
}
.bnt button{
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #14B02D;
    color: white;
    background: none;
    padding: 10px 50px;
    position: relative;
    left: -10px;
}
