@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text: #EDF1F7;
    --red: #C51212;
    --blue: #0041C2;
    --green: #14B02D;
    --yellow: #ffc12b;
  }
  body, button, a{
    font: 400 1rem "Mukta", sans-serif;
    
  }
  header{
    
   padding-top: 30px;
   min-width: 1440px;
   
   
  }
  header a{
   position: relative;
   top: auto;

   padding-right: 40px;
   font-size: 14px;
   font-weight: 300;
   letter-spacing: 2px;
   
  }

  a{
    text-decoration: none;
    color: white;
    
  }
  header a:hover{
   position: relative;
   top: -3px;
   transition: 0.3s;
   color: #C51212;
   
  }
  #fundo{
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: -1;
  }
  #fundo video{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 #fundo::after {
    content:"";
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.495), rgba(0, 0, 0, 0.955));
 }
 #app{
    display: flex;
    
    width: 100%;
    height: 100%;
 }
 #app img{
   height: 50px;
   position: relative;
   top: -10px;
   left: 110px;
   cursor: pointer;
 }
 header{
    display: flex;
    
    column-gap: 65px;
 }
 #menu{
   display: flex; 
   position: relative;
   top: auto;
   left: 100px;
   list-style-type: none;  
 }

 #social{
   display: flex;
   position: relative;
   left: 500px;
   
   
 }
 svg{
   position: relative;
   top: -7;
   left: 100px;
   padding-right: 15px;
   height: 35px;
   width: 35px;
 }
 svg:hover{
   transform: translateY(-4px);
   cursor: pointer;
   transition: 0.3s;
 }
 

 
 